@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500&display=swap');


footer {
    padding-top: 50px;
    ul{ 
        font-weight: bold;
        text-align-last: center;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

.a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    &:hover {
        color: black;
    }
}


.aNav{
    background-color: $color_irb;
    opacity: 60%;
    font-family: $font_irb;

}


body{
    background-image: url(../media/fondo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}



.formularioIngresoInput{
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}




.botonFormulario{
    background-color: $color_irb;
    color: white;
    transition: all 1.5s;
    border: none;
    width: auto;
    &:hover{
        background-color: $color2_irb;
        -webkit-transform: scale(1.03); transform: scale(1.03);
    }
    
}



.btnss{
    font-family: $font_irb;
    width: auto;
    background-color: $color_irb;
    color: white;
    border: 0px;
    padding: 5px;
    margin: 5px;
    transition: all 1s;

}

@mixin hover-btn{
    -webkit-transform: scale(1.03); transform: scale(1.03);
    border-radius: 10px;
}


.pruebaMixin{
    @include hover-btn();
}

#btnAceptada{
    @extend .btnss;
    &:hover{
        background-color: map-get($map: $botones_formulario, $key: btnAceptada);
        @include hover-btn;
    }
}


#btnAcP{
    @extend .btnss;
    &:hover{
        background-color: map-get($map: $botones_formulario, $key: btnAcP);
        @include hover-btn;
    
    }
}



#btnRechazada{
    @extend .btnss;
    &:hover{
        background-color: map-get($map:$botones_formulario, $key: btnRechazada );
        @include hover-btn;
    
    }
}



.pCotizacion{
    font-family: $font_irb;
    padding-left: 15px;
    font-style: italic;
    line-height: 25px;
    
}

.botonInicio{

    border: none;

}

.estiloFechaStock{
    display: flex;
    float: left;
    margin-left: auto;
    font-family: $font_irb;
}



